body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


#map-panel{
    width: 100%;
    height: 300px;
}

#map {
    height: 100%;
}

.messages-container{
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 100%;
}

#main-container{
    margin-top: 30px;
}

.mark-marker{
    color: greenyellow;
}

.panel-warning{
    background-color: #A3CCFF;
    border: 1px solid #A3CCFF;
    border-radius: 50px 0px 0px 10px;
    color: #666666;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .5px;
    opacity: 0.8
}

.panel-warning dt{
    color: white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.7;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: underline;
}

.panel-info .panel-heading{
    background-color: #A3CCFF;
    color: black;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 900;
    text-align: center;
}

.panel-info{
    border: 1px solid #A3CCFF;
    box-shadow: 0 0 7px #FB5D4F;
}

.btn-info{
    background-color: #FF6051;
    border-radius: 50px 50px 50px 50px;
    font-weight: 500;
    font-variant: small-caps;
    letter-spacing: 1px;
    margin: 4px;
    border: 1px solid black;
    border-bottom: 2px solid black;
    width: 195px;
    max-width: 100%;
}

.panel{
    margin-top: 20px
}

.panel-heading{
        background-image: url(background.png);
}

.panel-footer{
        background-image: url(background.png);
    opacity: .4
}





