@model MVC.Models.Message
<!-- contentstring for google infowindow -->
'<h4>@Html.DisplayNameFor(model => model.Title)</h4>' +
'<h6>@Html.DisplayFor(model => model.Title)</h6>' +
'<h4>@Html.DisplayNameFor(model => model.Createddate)</h4>' +
'<h6>@Html.DisplayFor(model => model.Createddate)</h6>' 


